<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
    <title>{{ data.title }}</title>
    {% if current_theme == 'dark' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_dark.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_light.css') }}">
    {% endif %}
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ data.title }}</h1>
            <div class="controls">
                <div class="language">
                    <span>{{ data.language_label }}:</span>
                    <a href="{{ url_for('set_language', language='ru') }}" class="{% if current_lang == 'ru' %}active{% endif %}">{{ data.russian }}</a>
                    <a href="{{ url_for('set_language', language='en') }}" class="{% if current_lang == 'en' %}active{% endif %}">{{ data.english }}</a>
                </div>
                <div class="theme">
                    <span>{{ data.theme_label }}:</span>
                    <a href="{{ url_for('set_theme', theme='light') }}" class="{% if current_theme == 'light' %}active{% endif %}">{{ data.light_theme }}</a>
                    <a href="{{ url_for('set_theme', theme='dark') }}" class="{% if current_theme == 'dark' %}active{% endif %}">{{ data.dark_theme }}</a>
                </div>
            </div>
        </header>
        <section>
            <h2>{{ data.personal_info }}</h2>
            <p>{{ data.name }}</p>
        </section>
        <section>
            <h2>{{ data.education }}</h2>
            <p>{{ data.education_details }}</p>
        </section>
        <section>
            <h2>{{ data.experience }}</h2>
            <p>{{ data.experience_details }}</p>
        </section>
        <section>
            <h2>{{ data.skills }}</h2>
            <p>{{ data.skills_list }}</p>
        </section>
        <section>
            <h2>{{ data.contact }}</h2>
            <pre>{{ data.contact_details }}</pre>
        </section>
    </div>
</body>
</html>
